{% extends "layout.njk" %}

{% block top%}
  <div class="top">
    <div>
      <a href="/"><img class="imgDescription" src="/images/pages/menuAccueil.png"></a>
      <a onclick="afficher()"><img class="imgAccueil" src="/images/pages/menuAccueilBlog.png"></a>
     <a href="/hobbies"><img class="imgHobbies" src="/images/pages/menuHobbies.png"></a>
    </div>
    <div>
      <a href="/description"><img class="imgBlog" src="/images/pages/menuDescription.png"></a>
    </div>
  </div>
{% endblock %}
{% block contenu%}
 <section id="contenu">
    {% for article in listeOfArticles%}
      <a href="/blog/articles/{{article.title}}"><button >{{article.title}}</button></a>
    {% endfor %}
    </section>
    <div id="divBlog">
      <div class="article">
        <h2>{{articleNameSelected}}</h2>
        {% if affiche %}
          <div class="divider"></div>
        {% endif %}
        <p>{{articleDescriptionSelected}}</p>
      </div>
    </div>
  </section>
{% endblock %}



