{% extends "layout.njk" %}

{% block css %}
  {% if colorGreen %}
    <link rel="stylesheet" href="/css/styleGreen.css" />
  {% elif colorBlue %}
    <link rel="stylesheet" href="/css/style.css" />
  {% else %}
    <link rel="stylesheet" href="/css/style.css" />
  {% endif %}
{% endblock %}

{% block top%}
  <div class="top">
    <div>
      <a href="/options"><button class="buttonMode">MODE</button></a>
      <a href="/"><button class="imgDescription">ACCUEIL</button></a>
      <a onclick="afficher()"><button class="imgAccueil" >BLOG</button></a>
     <a href="/hobbies"><button class="imgHobbies">HOBBIES</button></a>
    </div>
    <div>
      <a href="/description"><button class="imgBlog">DESCRIPTION</button></a>
    </div>
  </div>
  </div>
{% endblock %}
{% block contenu%}
 <section id="contenu">
    {% for article in listeOfArticles%}
      <a href="/blog/articles/{{article.title}}"><button >{{article.title}}</button></a>
    {% endfor %}
    </section>
    <div id="divBlog">
      <div class="article">
        <h2>{{articleNameSelected}}</h2>
        {% if affiche %}
          <div class="divider"></div>
        {% endif %}
        <p>{{articleDescriptionSelected}}</p>
      </div>
    </div>
  </section>
{% endblock %}



