{% extends "layout.njk" %}

{% block top%}
  <div class="top">
    <div>
    <a href="/"><img class="imgDescription" src="/images/pages/menuAccueil.png"></a>
    <a onclick="afficher()"><img class="imgAccueil" src="/images/pages/menuAccueilDescription.png"></a>
    <a href="/hobbies"><img class="imgHobbies" src="/images/pages/menuHobbies.png"></a>
    </div>
    <div>
      <a href="/blog"><img class="imgBlog" src="/images/pages/menuBlog.png"></a>
    </div>
  </div>
{% endblock %}
{% block contenu%}
  <section class="contenu">
    <div class="divDescription">
      <p>Jeune rémois de 31ans, pationné par le multimedia et le monde numérique.</p>
    </div>
  </section>
{% endblock %}



