{% extends "layout.njk" %}
{% block css %}
  {% if colorGreen %}
    <link rel="stylesheet" href="/css/styleGreen.css" />
  {% elif colorBlue %}
    <link rel="stylesheet" href="/css/style.css" />
    {% elif colorRed %}
    <link rel="stylesheet" href="/css/styleRed.css" />
  {% else %}
    <link rel="stylesheet" href="/css/style.css" />
  {% endif %}
{% endblock %}
<style>
      .divider{
      height: 5px;
      width: 1000px;
      background-color: white;
      margin-left: 100px;
      margin-top: 30px;
      margin-right: 300px;
      border-radius: 10px;
    }
</style>
{% block top%}
  <div class="top">
     <div>
     <a href="/options"><button class="buttonMode">MODE</button></a>
      <a href="/description"><button class="imgDescription">DESCRIPTION</button></a>
      <a onclick="afficher()"><button class="imgAccueil" >HOBBIES</button></a>
    <a href="/"><button class="imgHobbies" >ACCUEIL</button></a>
    </div>
    <div>
      <a href="/blog"><button class="imgBlog">BLOG</button></a>
    </div>
  </div>
{% endblock %}
{% block contenu%}
<div id="menuHobbies">
  {% for hobbies in listOfHobbies%}
    <a href="/hobbies/{{hobbies}}"><button >{{hobbies}}</button></a>
  {% endfor %}
</div>
 <section id="contenuHobbies">
    <section class="listHobbies">
      <div id="divHobbies">
        {% for item in hobbiesSend %}
          {% if affiche %}
              <a href={{item.lien}}>
                <div class="Lignes">
                <img src={{item.logo}}>
                <h2>{{item.name}}</h2>
                </div>
              </a>
            <div class="divider"></div>
          {% endif %}
        {% endfor %}
      </div>
      <div id="divInfoHobbies">
        <div class="hobbiesDetails">
        <h2>{{element.name}}</h2>
        {% if afficheDetails %}
          <div class="divider"></div>
        {% endif %}
        <p>{{element.description}}</p>
      </div>
      </div>
  </section>
  </section>
{% endblock %}




