{% extends "layout.njk" %}

{% block css %}
  {% if colorGreen %}
    <link rel="stylesheet" href="/css/styleGreen.css" />
  {% elif colorBlue %}
  <link rel="stylesheet" href="/css/style.css" />
  {% elif colorRed %}
    <link rel="stylesheet" href="/css/styleRed.css" />
  {% else %}
  <link rel="stylesheet" href="/css/style.css" />
  {% endif %}
{% endblock %}

{% block top%}
  <div class="top">
<div>
    <a href="/options"><button class="buttonMode">MODE</button></a>
    <a href="/description"><button id="imgDescription" class="imgDescription">DESCRIPTION</button></a>
    <a onclick="afficher();"><button class="imgAccueil">ACCUEIL</button></a>
    <a href="/hobbies"><button class="imgHobbies">HOBBIES</button></a>
    </div>
    <div>
      <a href="/blog"><button class="imgBlog">BLOG</button></a>
    </div>
  </div>

{% endblock %}
{% block contenu%}
  <section class="contenu">
  </section>
{% endblock %}



