{% extends "layout.njk" %}

{% block css %}
  {% if colorGreen %}
    <link rel="stylesheet" href="/css/styleGreen.css" />
  {% elif colorBlue %}
  <link rel="stylesheet" href="/css/style.css" />
  {% else %}
  <link rel="stylesheet" href="/css/style.css" />
  {% endif %}
{% endblock %}

{% block top%}
  <div class="top">
  {% if colorGreen %}

<div>
    <a href="/options"><button class="buttonMode">MODE</button></a>
    <a href="/description"><img id="imgDescription" class="imgDescription" src="/images/pages/menuDescriptionGreen.png"></a>
    <a onclick="afficher();"><img class="imgAccueil" src="/images/pages/menuGreen.png"></a>
    <a href="/hobbies"><img class="imgHobbies" src="/images/pages/menuHobbiesGreen.png"></a>
    </div>
    <div>
      <a href="/blog"><img class="imgBlog" src="/images/pages/menuBlogGreen.png"></a>
    </div>
  </div>
  {% elif colorBlue %}
<div>
    <a href="/options"><button class="buttonMode">MODE</button></a>
    <a href="/description"><img id="imgDescription" class="imgDescription" src="/images/pages/menuDescription.png"></a>
    <a onclick="afficher();"><img class="imgAccueil" src="/images/pages/menu.png"></a>
    <a href="/hobbies"><img class="imgHobbies" src="/images/pages/menuHobbies.png"></a>
    </div>
    <div>
      <a href="/blog"><img class="imgBlog" src="/images/pages/menuBlog.png"></a>
    </div>
  </div>
  {% else %}
<div>
     <a href="/options"><button class="buttonMode">MODE</button></a>
    <a href="/description"><img id="imgDescription" class="imgDescription" src="/images/pages/menuDescription.png"></a>
    <a onclick="afficher();"><img class="imgAccueil" src="/images/pages/menu.png"></a>
    <a href="/hobbies"><img class="imgHobbies" src="/images/pages/menuHobbies.png"></a>
    </div>
    <div>
      <a href="/blog"><img class="imgBlog" src="/images/pages/menuBlog.png"></a>
    </div>
  </div>
  {% endif %}

{% endblock %}
{% block contenu%}
  <section class="contenu">
  </section>
{% endblock %}



