{% extends "layout.njk" %}

{% block top%}
  <div class="top">
    <div>
    <a href="/description"><img id="imgDescription" class="imgDescription" src="/images/pages/menuDescription.png"></a>
    <a onclick="afficher();"><img class="imgAccueil" src="/images/pages/menu.png"></a>
    <a href="/hobbies"><img class="imgHobbies" src="/images/pages/menuHobbies.png"></a>
    </div>
    <div>
      <a href="/blog"><img class="imgBlog" src="/images/pages/menuBlog.png"></a>
    </div>
  </div>
{% endblock %}
{% block contenu%}
  <section class="contenu">

  </section>
{% endblock %}



