{% extends "layout.njk" %}

{% block css %}
  {% if colorGreen %}
    <link rel="stylesheet" href="/css/styleGreen.css" />
  {% elif colorBlue %}
    <link rel="stylesheet" href="/css/style.css" />
    {% elif colorRed %}
    <link rel="stylesheet" href="/css/styleRed.css" />
      {% endif %}
{% endblock %}

{% block contenu%}
  <div class="contenuMiddle">
    <div class="box">
      <h2>Choose your appearance :<h2>
      <form method="POST" action="/handle-form" class="form">
        <div class="buttonRadio">
          <input type="radio" value="green" name="choiceColor">
          <label for="green">Green Mode</label>
          <input type="radio" value="blue" name="choiceColor">
          <label for="blue">Blue Mode</label>
           <input type="radio" value="red" name="choiceColor">
          <label for="red">Red Mode</label>
        </div>
        <button type="submit" class="buttonForm">
          Submit
        </button>
      </form>
    </div>
  </div>
{% endblock %}



